<div class="content-top__text">
    <a name="top"></a>
    <img class="content-top__text--logo" src="/images/icons/logo-white.svg">
    <div class="content-top__text--find">
        <p>Find your</p>
        <p>next green</p>
        <p>friend</p>
    </div>
    <img class="content-top__text--arrow" src="/images/icons/arrow.svg">
</div>
<div class="content-top__left-leaves">
    <img src="/images/hero/desktop/left-leaves.png" class="content-top__images leaves">
</div>
<div class="content-top__plant-person">
    <img src="/images/hero/desktop/plantperson.png" class="content-top__images plantperson">
</div>
<div class="content-top__right-leaves">
    <img src="/images/hero/desktop/right-leaves.png" class="content-top__images">
</div>